{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Additional CSS Files -->
      {% block head_css_site %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>


    <link rel="stylesheet" href="{% static 'cartoonify/base.css' %}">

    <link rel="stylesheet" href="{% static 'cartoonify/main.css' %}">

    <link rel="stylesheet" href="{% static 'cartoonify/tagsinput.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'cartoonify/font-awesome.css' %}">

    
    {% endblock head_css_site %}

        
    {% comment %} <link rel="stylesheet" href="{% static 'cartoonify/feed_page.css' %}"> {% endcomment %}
        
    {% comment %} <link rel="stylesheet" href="{% static 'cartoonify/owl.css' %}"> {% endcomment %}
        
    <link rel="stylesheet" href="{% static 'cartoonify/lightbox.css' %}">


    {% if title %}
    <title> Fun With Cartoonista - {{title}}</title>
    {% else %}
    <title>Fun With Cartoonista</title>
    {% endif %}

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky background-header mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">
                            CARTOONISTA!
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            {% if user.is_authenticated %}
                                {% if request.path == '/edit-profile/' %}
                                <li><a href="{% url 'profile' %}" class="active">Edit Profile</a></li>
                                {% else %}
                                <li><a href="{% url 'profile' %}">Edit Profile</a></li>
                                {% endif %}

                                {% if 'user' in request.path %}
                                <li><a href="{% url 'user-posts' user.username %}" class="active">My Posts Feed</a></li>
                                {% else %}
                                <li><a href="{% url 'user-posts' user.username %}">My Posts Feed</a></li>
                                {% endif %}

                                <li><a href="{% url 'logout' %}">Logout {{ user.username }}</a></li>
                            {% else %}
                                {% if request.path == '/login/' %}
                                <li><a href="{% url 'login' %}" class="active">Login</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}">Login</a></li>
                                {% endif %}

                                {% if request.path == '/register/' %}
                                <li><a href="{% url 'register' %}" class="active">Sign Up</a></li>
                                {% else %}
                                <li><a href="{% url 'register' %}">Sign Up</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="section" id="features" style="position: relative; margin-top: 5rem;">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }}"> {{ message }}</div>
                {% endfor %} {% endif %} {% block content %}{% endblock content %}

            </div>
            <div class="col-2">
            </div>
        </div>
    </section>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content text-center mb-3">
                        <p>Made with ❤</p>
                        <p>Happy Cartooning!</p>
                    </div>
                    <div class="right-text-content text-center">
                        <ul class="social-icons">
                            <li>
                                <p class="ml-4">Check out our github page</p>
                            </li>
                            <li><a target="_blank" rel="nofollow" href="https://github.com/TrushaT/Fun-With-Cartoonista"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </footer>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Plugins -->
    <script src="{% static 'cartoonify/owl-carousel.js' %}"></script>
    <script src="{% static 'cartoonify/scrollreveal.min.js' %}"></script>
    <script src="{% static 'cartoonify/slick.js' %}"></script>
    <script src="{% static 'cartoonify/lightbox.js' %}"></script>
    <script src="{% static 'cartoonify/isotope.js' %}"></script>
    <script src="{% static 'cartoonify/isotope.min.js' %}"></script>
    <script src="{% static 'cartoonify/custom.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'cartoonify/base.js' %}"></script>
    <script src="{% static 'cartoonify/tagsinput.js' %}"></script>

    <script>
        $(document).ready(function() {
            function updateText(btn, newCount, verb) {
                $('#pTest').text(newCount)
            }
            $(".like-btn").click(function(e) {
                console.log("inside like");
                e.preventDefault()
                var this_ = $(this)
                var likeUrl = this_.attr("data-href")
                console.log(likeUrl)
                if (likeUrl) {
                    $.ajax({
                        url: likeUrl,
                        method: "GET",
                        data: {},
                        success: function(data) {
                            console.log("sucess");
                            console.log(data);
                            var newLikes;
                            if (data.liked) {
                                //add one like
                                updateText(this_, data.count, data.verb)
                                $("#hid").removeClass("fa-heart-o").addClass("fa-heart");
                            } else {
                                //remove one like
                                $("#hid").removeClass("fa-heart").addClass("fa-heart-o");;
                                updateText(this_, data.count, data.verb)
                            }
                        },
                        error: function(error) {
                            console.log(error)
                            console.log("error occured")
                            alert("Error Occured")
                        }
                    })
                }
            })
        })
    </script>
</body>

</html>