{% extends 'cartoonify/base.html' %}
{% block content %}
<div class="container pt-5">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title" placeholder="Add title">
        </div>
        <div class="form-group">
            <label>Author</label>
            <input type="text" class="form-control" name="author" placeholder="username" id = "elder" >
        </div>

        <div class="form-group">
            <label>Caption</label>
            <textarea type="text" class="form-control" name="username" placeholder="caption"></textarea>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <input type="text" data-role="tagsinput" class="form-control" name="tags">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script>
        var name = "{{ user.username }}";
        document.getElementById("elder").placeholder = name;
    </script>
</div>
{% endblock content %}