{% extends "cartoonify/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are you sure you want to delete the post </h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'detail_post' post.pk %}">Cancel</a>
            </div>
        </form>
    </div>
    {% comment %} {% extends 'cartoonify/base.html' %} {% block content %}
<h1 class="mt-3 mb-3 text-center"> Delete Post </h1>
<div class="mt-2 text-center">
    <form method="POST">
        {% csrf_token %}
        <p class="mb-2 h3">Are you sure?</p>
        <button class="btn btn-danger mt-2">Delete</button>
    </form>
</div>
{% endblock content %} {% endcomment %}
{% endblock content %}