{% extends 'cartoonify/base.html' %}
{% load static %}
 

{% block head_css_site %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'cartoonify/detail_page.css' %}">
<link rel="stylesheet" href="{% static 'cartoonify/gallery_page.css' %}">


{% endblock head_css_site %}
{% load social_share %}


{% block content %}
<div class="card-container">
  <div class="card">
    
      <img src="{{ post.header_image.url }}" class="card-media" />

    <div class="card-body">
     
        <h1>By {{ post.author }}</h1>


    </div>
  </div>
  <div class="card-shadow"></div>
</div>

<hr class="solid">
 <p> Keywords</p>


<hr class="solid">
 <p> Similar Posts </p>


 <div class="col-md-12"> 
            <main>
                <section id="gallery" style="padding: 20px 0">
                    <div class="container">
                            <div class="row text-center">
                                <!-- Use for loop here -->
                                    <div class="col-md-4 mb-4">
                                        <div class="card">
                                                <div class="textWithBlurredBg">
                                                    <img src="{{ post.header_image.url }}" class="card-img-top">
                                                    <a href="{% url 'detail_post' post.id %}" > More info </a> 
                                                </div>
                                                
                                </div>

                            </div>
                        </div>
                        
                    </section>
                </main>


{% endblock content %}
