{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'cartoonify/base.css' %}">

    <link rel="stylesheet" href="{% static 'cartoonify/tagsinput.css' %}" type="text/css">
    
    <link rel="stylesheet" href="{% static 'cartoonify/main.css' %}" type="text/css">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />

    {% if title %}
    <title> Fun With Cartoonista - {{title}}</title>
    {% else %}
    <title>Fun With Cartoonista</title>
    {% endif %}

</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky background-header mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">
                            CARTOONISTA!
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'gallery' %}" class="active">Gallery</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}">My Profile</a></li>
                            <li><a href="{% url 'user-posts' user.username %}">My Posts Feed</a></li>
                            <li><a href="{% url 'logout' %}">Logout {{ user.username }}</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Sign Up</a></li>
                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="section" id="features" style="position: relative; margin-top: 2rem;">
        <div class="row">
            <div class="col-md-10 col-xs-8 col-sm-10">
                {% if messages %} {% for message in messages %}
                <div class="alert alert-{{ message.tags }}"> {{ message }}</div>
                {% endfor %} {% endif %} 
                <form class="card card-sm mt-2" id="search" method="POST" action="{% url 'search' %}">
                        {% csrf_token %}
                        <div class="card-text row align-items-center">
                            <div class="col-auto ml-3">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" id="txtSearch" type="text" name="txtSearch" placeholder="Search tags">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                </form>
                <br>
                <p class="h4">Popular Tags: {% for tag in common_tags %}<a class='btn btn-info' href="{% url 'per-category' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %} {% endif %}{% endfor %}</p> 
                <br>    
                {% for post in posts %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{{ post.header_image.url }}">
                        <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.pub_date|date:"F d, Y" }}</small>
                            </div>
                            <h2><a class="article-title" href="{% url 'detail_post' post.id %}">{{ post.title }}</a></h2>
                            <p class="article-content">
                                Caption: {{ post.caption }}
                                Likes: {{ post.likes.count }} 
                                Tags: {% for tag in post.tags.all %}<a href="{% url 'per-category' tag %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                            </p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content text-center mb-3">
                        <p>Made with ❤</p>
                        <p>Happy Cartooning!</p>
                    </div>
                    <div class="right-text-content text-center">
                        <ul class="social-icons">
                            <li>
                                <p class="ml-4">Check out our github page</p>
                            </li>
                            <li><a target="_blank" rel="nofollow" href="https://github.com/TrushaT/Fun-With-Cartoonista"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#txtSearch").autocomplete({
                source: '{% url 'search_auto' %}',
                minLength: 1,
                open: function(){
                    setTimeout(function () {
                        $('.ui-autocomplete').css('z-index', 99);
                    }, 0);
                }
            });
        });
    </script>

    <!-- Global Init -->
    <script src="{% static 'cartoonify/base.js' %}"></script>
    <script src="{% static 'cartoonify/tagsinput.js' %}"></script>

    <script>
        $(document).ready(function() {
            function updateText(btn, newCount, verb) {
                btn.text(newCount + " " + verb)
            }
            $(".like-btn ").click(function(e) {
                e.preventDefault()
                var this_ = $(this)
                var likeUrl = this_.attr("data-href ")
                if (likeUrl) {
                    $.ajax({
                        url: likeUrl,
                        method: "GET ",
                        data: {},
                        success: function(data) {
                            console.log(data)
                            var newLikes;
                            if (data.liked) {
                                //add one like
                                updateText(this_, data.count, data.verb)
                            } else {
                                //remove one like
                                updateText(this_, data.count, data.verb)
                            }
                        },
                        error: function(error) {
                            console.log(error)
                            console.log("error occured ")
                        }
                    })
                }
            })
        })
    </script>
</body>

</html>
