{% extends 'cartoonify/base.html' %}
{% load static %}
{% load social_share %}
{% block head_css_site %} {{ block.super }}
<link rel="stylesheet" href="{% static 'cartoonify/detail_page.css' %}">
<link rel="stylesheet" href="{% static 'cartoonify/gallery_page.css' %}">
{% endblock head_css_site %}
{% load social_share %}
{% block content %}
<div class="card-container">
    <div class="card">
        <div class="profile mb-3">
            <div class="row">
                <div class="col-4">
                    <img style="float: left;" src="{{ post.author.profile.image.url }}">
                    <a href="{% url 'user-posts' post.author.username %}"><h6 class="ml-5 mt-2">{{ post.author }}</h6></a>
                </div>
                <div class="col-4">

                </div>
                <div class="col-4">
                    <h6 class="text-muted mt-2" style="float: right;">{{ post.pub_date }}</h6>
                </div>
            </div>
        </div>

        <img src="{{ post.header_image.url }}" class="card-media mx-auto img-fluid" />
        <div class="card-body">
            <div class="row">
                <div class="col-7">
                    <h3 class="mb-2" style="font-family: Roboto">{{ post.title }}</h3>
                    <h6 style="font-family: Roboto">{{ post.caption }}</h6>
                </div>
                <div class="col-1">
                </div>
                <div class="col-4 mt-3">
                    <div class="row">
                    {% if user.is_authenticated %}
                        {% if user in post.likes.all %}
                        <a class='like-btn h6' style="color: red" data-href="{{ post.get_api_like_url }}" data-likes="{{ post.likes.count }}" href=""><i class="fa fa-heart fa-lg" style="color: red" aria-hidden="true" id="hid" ></i> <span id="pTest">{{ post.likes.count }}</span></a>
                        {% else %}
                        <a class='like-btn h6' style="color: red" data-href="{{ post.get_api_like_url }}" data-likes="{{ post.likes.count }}" href=""><i class="fa fa-heart-o fa-lg" style="color: red" aria-hidden="true" id="hid"></i> <span id="pTest">{{ post.likes.count }}</span></a>
                        {% endif %}
                    {% else %}
                    <i class="fa fa-heart-o fa-lg" style="color: red" aria-hidden="true" id="hid"></i><a class='ml-2 h6' style="color: red" href="{% url 'login' %}"> {{ post.likes.count }}</a>
                    {% endif %}
                        <a href="{{ post.header_image.url }}" download>
                            <h6 class="ml-3"><i class="fa fa-cloud-download fa-lg" aria-hidden="true"></i> Download</h6>
                        </a>
                    </div>
                    <div class="row mt-3 ml-5">
                        <h6>
                            <a class="mx-auto" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">
                                <i class="fa fa-share-alt fa-lg" aria-hidden="true"></i> Share
                            </a>
                        </h6>
                    </div>

                </div>
            </div>
            {% if user == object.author %}
            <div class="mt-5 text-center">
                <a class="mt-2 mr-3" href="{% url 'update_post' post.pk  %}">Edit</a>
                <a class="mt-2 mr-3" href="{% url 'delete_post' post.pk  %}">Delete</a>
            </div>
            {% else %} {% endif %}
        </div>
    </div>
    <div class="card-shadow"></div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content col-12">
                <div class="modal-header">
                    <h5 class="modal-title">Share via</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="icon-container1 d-flex">
                        <div class="smd"> <i class="img-thumbnail fa fa-facebook fa-4x" style="color: #3b5998;background-color: #eceff5;"></i>
                            {% post_to_facebook object_or_url 'Facebook' %}
                        </div>
                        <div class="smd"> <i class="img-thumbnail fa fa-whatsapp fa-4x" style="color: #25D366;background-color: #cef5dc;"></i>
                            {% post_to_whatsapp object_or_url "Whatsapp" %}
                        </div>
                        <div class="smd"> <i class="img-thumbnail fa fa-envelope-o fa-4x " style="color: #738ADB;background-color: #d8d8d8;"></i>
                            {% send_email post.title "Interesting Photo: {{post.title}}. Check it out!" object_or_url "Mail" %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer"> <label style="font-weight: 600">Copy Link <span class="message"></span></label><br />
                    <div class="row">
                        <input class="col-10 ur" type="text" value="{{ request.build_absolute_uri }}" id="myInput" aria-describedby="inputGroup-sizing-default" style="height: 40px;">
                        <button class="cpy" onclick="myFunction()"><i class="fa fa-clone"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="solid">
<p class="h6">Keywords</p>
{% for tag in post.tags.all %}                                          
<a href="{% url 'per-category' tag %}">
    <span class="badge badge-pill" style="border: 1px solid #303f9f; background-color: transparent; color: #303f9f;">{{ tag.name }}</span>
</a>
{% if not forloop.last %} 
{% endif %}
{% endfor %}

<hr class="solid">
{% if related_posts %}
<p class="h6">Similar Posts</p>
<div class="col-md-12">
    <main>
        <section id="gallery" style="padding: 20px 0">
            <div class="container">
                <div class="row">
                    <!-- Use for loop here -->
                    {% for post in related_posts %}                   
                    <div class="col-md-4 mb-4">
                        <div class="card" style="padding: 30px 30px 30px 30px;">
                            <div class="textWithBlurredBg">
                                <img src="{{ post.header_image.url }}" class="card-img-top">
                                <a href="{% url 'detail_post' post.id %}"> More info </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title" style = "color:black">{{ post.title }} by <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </section>
    </main>
</div>
{% else %}
<p class="h6">No Similar Posts</p>
{% endif %}

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  $(".message").text("link copied");
}
</script>
{% endblock content %} 
