{% extends 'cartoonify/base.html' %}
{% load crispy_forms_tags %}
<!--  -->
{% block content %}
{% if user.is_authenticated %}
<p>Only a logged out user can view</p>
{% else %}
 <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Reset Password (Using Email Address provided in your profile)
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}

